@import 'tailwindcss';

@theme {
  --default-font-family: 'var(--font-libre), sans-serif';
  --font-playfair: 'var(--font-playfair)';
  --font-quicksand: 'var(--font-quicksand)';
}

button {
  cursor: pointer;
}

@utility flex-center {
  @apply flex items-center justify-center;
}

@utility flex-between {
  @apply flex items-center justify-between;
}

@layer components {
  .divider {
    @apply w-2/12 mx-auto my-10 bg-[#304428];
  }
}
